.title {
    font-size: 23px;
    font-weight: 700;
}
.daily_item{
    background-color: #f5f5f5;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    padding: 5px 20px;

}
.icon_small{
    width: 40px;
}
.day{
    color: #212121;
    flex: 1 1;
    font-weight: 500;
    margin-left: 15px;
}
.description{
    flex-direction: 1 1;
    margin-right: 15px;
    text-align: right;
}
.min_max{
    color: #757575;
}
.day_details{
    grid-row-gap: 0;
    grid-column-gap:15px;
    row-gap: 0;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
}
.daily_details_item{
    align-items: center;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.daily_details_item label:first-child{
    color: #757575;
}
.daily_details_item label:last-child{
    color: #212121;
}