.weather {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 /30%);
  color: aliceblue;
  background-color: #333;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
  cursor: default;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}
.weatherdescrpt {
  font-weight: 400;
  font-size: 14px; 
  margin: 0;
  line-height: 1;
}

.weatherIcon {
  width: 100px;
}
.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}
.details {
  width: 100%;
  padding-left: 20px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.label {
  text-align: left;
  font-size: 12px;
}
.value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}
